
@supports not (font-variation-settings: normal) {
    @font-face {
        font-family: 'Inter';
        src: url('../fonts/Inter-VariableFont_slnt_wght.ttf') format('ttf');
        font-weight: 400 700;
    }

    @font-face {
        font-family: 'Inter';
        src: url('../fonts/static/Inter-Regular.woff2') format('woff2'),
            url('../fonts/static/Inter-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Inter';
        src: url('../fonts/static/Inter-ExtraBold.woff2') format('woff2'),
            url('../fonts/static/Inter-ExtraBold.woff') format('woff');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Inter';
        src: url('../fonts/static/Inter-Bold.woff2') format('woff2'),
            url('../fonts/static/Inter-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'Inter';
        src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
        font-variation-settings: "wdth" 400 800;
        font-style: normal;
        font-display: swap;
    }
}

/* ---------------- colors ---------------- */

$primary-color: hsl(35, 77%, 62%);
$secondary-color: hsl(5, 85%, 63%);
$background-color: hsl(36, 100%, 99%);
$menu-color: hsl(236, 13%, 42%);
$text-color: hsl(240, 100%, 5%);
$text-secondary-color: hsl(36, 100%, 99%);

$font-family: 'Inter', sans-serif;

$font-size: 15px;

$font-regular: 400;
$font-bold: 700;
$font-extra-bold: 800;


